.th1{
    border: 1px solid red;
}

.th2{
    border: 1px solid blue;
}

.t3{
    border: 1px solid green;
}

.table1{
    width: 500px;
    border: 1px solid black;
}


/*
.tartalom{
    color: red;
}
*/

.itemcard{
    
}